<div>
    <div class="login-buttons">
		<% if user_signed_in? %> 
		<%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "button is-danger is-light" %> 
		<% else %>
		<%= button_to "Sign in", new_user_session_path, class: "button is-primary is-light" %> 
		<% end %>
	</div>
	<% if flash[:warning].present? %>
	    <div class="notification">
	       <p><%= "Error Message Form Iterable API #{flash[:warning]} "%></p>
	    </div>
	<% end %>
	<div id="title-div"><h4 id="h4-title" class="title is-4">Events Lists</h4></div>
    <table class="table is-bordered is-fullwidth">                         
        <tr>                          
            <th>Name</th>
            <th>EventType</th>
            <th>CreateAt</th>
			<th>Action</th>
        </tr>
			<% if @events.present? %>
				<% @events.each do |event| %>
		            <tr>
						<td><%= event.name %></td>
						<td><%= event.event_type %></td>
						<td><%= event.created_at %></td>
						<td>
						    <% if event.event_type == "event_b" %>
						   		<%= link_to “Send Email”, send_mail_events_path, method: :post , class: "action", remote: true %>
							<% end %>
						</td>	
					</tr>
			    <% end %>
			<% else %>
				<tr>
				<td colspan=4 class="td-colspan">No event created for this user</td>
				</tr>
			<% end %>
        </table>  
    </div>
</div>